<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Avatar Upload</title>
        <meta charset="UTF-8">
        <style>
            * {
                font-family: sans-serif;
            }

            .error {
                color: red;
            }

            .avatar {
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
        </style>
    </head>

    <body>
        <img src="<%= currentUser.avatar %>" class="avatar" alt="User <%= currentUser.username %>'s avatar">

        <div class="error"><%= (locals.errorMessage) ? errorMessage : "" %></div>
        <h1><%= currentUser.username %>'s avatar</h1>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <button type="submit">Save</button>
        </form>
    </body>
</html>
