<!DOCTYPE html>
<html lang="en">
    <head>
        <title>File Uploads</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <form action="" method="post" enctype="multipart/form-data">
            <img src="/static/img/Portrait_Placeholder.png">
            <input type="file" name="avatar">
            <button>Save</button>
        </form>
    </body>
</html>
