<!DOCTYPE html>

<html>
    <head>
        <title>Sign up</title>
        <meta charset="UTF-8">

        <style>
            html, body {
                height: 100%;
                margin: 0;
            }

            body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h1 {
                font-size: 65px;
                margin-bottom: 44px;
            }

            .field {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            p {
                max-width: 165px;
            }

            label {
                margin-bottom: 5px;
            }

            input {
                margin-bottom: 2px;
                border-radius: 5px;
                border-width: 1px;
            }

            #submit-button {
                margin-left: auto;
                margin-right: auto;
                margin-top: 22px;
                padding: 6px 16px;
            }

            p {
                color: red;
                margin: 0;
            }
            input:not(#submit-button) {
                height: 26px;
                width: 240px;
            }
        </style>
    </head>

    <body>
        <h1>Recipe Book</h1>

        <% function getErrorMessage(fieldName) { %>
            <% if (locals.errorMessages && errorMessages[fieldName] !== undefined) { %>
                <% return errorMessages[fieldName]; %>
            <% } %>
            <% return ""; %>
        <% } %>

        <% // Submit form to current route %>
        <form action="" method="post">
            <div class="field">
                <p><%= getErrorMessage("unavailable") %></p>
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
                <p><%= getErrorMessage("username") %></p>
            </div>

            <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
                <p><%= getErrorMessage("email") %></p>
            </div>

            <div class="field">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <p><%= getErrorMessage("password") %></p>
            </div>

            <div class="field">
                <input id="submit-button" type="submit" value="Create Account">
            </div>
        </form>
    </body>
</html>
