<!DOCTYPE html>
<html lang="en">
    <head>
       <title>World</title>
       <meta charset="UTF-8">

       <style>
            * {
                margin: 0px;
                padding: 0px;
            }
            svg path {
                fill: #ececec;
                stroke: black;
                stroke-width: 1.5;
            }

            svg path:hover {
                fill: limegreen;
                transition: 0.5s;
                cursor: pointer;
            }


            div.recipes-container {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: white;
                margin: 0px 100px 25px 100px;
            }

            div.showcase-container {
                background-color: #79B473;
                display: flex;
                flex-direction: column;
                margin-top: 25px;
                margin-left: 10px;
                margin-right: 10px;
            }
            div.showcase-title {
                text-align: center;
                margin: 20px;
            }
            div.showcase-title h1 {
                display: inline;
                background-color: white;
            }

            div.recipe img {
                margin-top: 20px;
            }

            div.recipe h2 {
                text-align: center;
            }

            .thumbnail {
                object-fit: cover;
                width: 300px;
                height: 300px;
            }



       </style>

       <script>
          const COUNTRIES_JSON_URL = "/static/countries.json";
          const SVG_MAP_URL = "/static/img/world.svg";
          const SVG_DOWNSCALE_FACTOR = 1.25;

          fetch(COUNTRIES_JSON_URL)
               .then(response => response.json())
               .then(countryAbbreviationNames => {

                   const getCountryNameAbbreviations = (countryAbbreviationNames) => {
                       const countryNameAbbreviations = {};
                       for (const abbreviation in countryAbbreviationNames) {
                           let name = countryAbbreviationNames[abbreviation];

                           if (name in countryNameAbbreviations) {
                               console.warn(`Could not replace existing abbreviation with '${abbreviation}'. ${name} is already abbreviated as '${countryNameAbbreviations[name]}'.`);
                           }
                           else {
                               countryNameAbbreviations[name] = abbreviation;
                           }
                       }
                       return countryNameAbbreviations;
                   }
                   const countryNameAbbreviations = getCountryNameAbbreviations(countryAbbreviationNames);

                   fetch(SVG_MAP_URL)
                        .then(response => response.text())
                        .then(svgMapText => {
                            // TODO: Stop using innerHTML to incorporate svg
                            const worldContainer = document.querySelector("div#world-container");
                            worldContainer.innerHTML = svgMapText;
    
                            const svgMap = document.querySelector("svg");
    
                            svgMap.removeAttribute("fill");
                            svgMap.removeAttribute("stroke");
                            svgMap.removeAttribute("stroke-width");
    
                            const initialWidth = svgMap.getAttribute("width");
                            const initialHeight = svgMap.getAttribute("height");
    
                            svgMap.setAttribute("width", initialWidth / SVG_DOWNSCALE_FACTOR);
                            svgMap.setAttribute("height", initialHeight / SVG_DOWNSCALE_FACTOR);
    
                            svgMap.addEventListener("click", (event) => {
                                const targetElement = event.target;
                                if (targetElement.nodeName === "path") {
                                    const header = document.querySelector("h1");
                                    let abbreviation;
                                    if (targetElement.classList.length) {
                                        const classArray = Array.from(targetElement.classList);
                                        const countryName = classArray.join(" ");

                                        abbreviation = countryNameAbbreviations[countryName];

                                        header.textContent = `${countryName} (${abbreviation})`;

                                    }
    
                                    else if (targetElement.id) {
                                        const attributes = targetElement.attributes;
                                        const nameAttribute = attributes.name;
                                        const countryName = nameAttribute.nodeValue;

                                        abbreviation = countryNameAbbreviations[countryName];
    
                                        header.textContent = `${countryName} (${abbreviation})`;
                                    }
                                    const recipesContainer = document.querySelector("div.recipes-container");
                                    recipesContainer.innerHTML = "";

                                    fetch(`/world?tag=${abbreviation.toLowerCase()}`)
                                        .then(response => response.json())
                                        .then(recipes => {
                                            for (recipe of recipes) {
                                                const recipeDiv = document.createElement("div");
                                                recipeDiv.className = "recipe";
                                                const recipeTitle = document.createElement("h2");
                                                const recipeImage = document.createElement("img");

                                                recipeImage.className = "thumbnail"
                                                recipeImage.src = `/static/uploads/multimedia/${recipe.thumbnail}`

                                                recipeTitle.textContent = recipe.name;

                                                recipeDiv.appendChild(recipeImage);
                                                recipeDiv.appendChild(recipeTitle);
                                                recipesContainer.appendChild(recipeDiv);
                                            }

                                        })
                                        .then(error => console.error(error));



                                }
                            });
    
                        }).catch(error => console.error("Error fetching SVG: " + error));
    
                  }).catch(error => console.error("Error fetching CSV: " + error));

       </script>
    </head>

    <body>
        <div id="world-container">
        </div>
        <h1 style="text-align: center;">
        </h1>

        <div class="recipes-container">

        </div>
    </body>
</html>
