<!DOCTYPE html>
<html lang="en">
    <head>
       <title>World</title>
       <meta charset="UTF-8">

        <script>
           const svgMapUrl = "/static/img/world.svg"
           fetch(svgMapUrl)
                .then(response => response.text())
                .then(svgMapText => {
                    const parser = new DOMParser();
                    const svgMapDocument = parser.parseFromString(svgMapText, "image/svg+xml");
                    const svgMapElement = svgMapDocument.documentElement;

                    const worldContainer = document.querySelector("div#world-container");
                    worldContainer.append(svgMapElement);

                }).catch(error => console.error("Error fetching SVG: " + error));

        </script>
    </head>

    <body>
        <div id="world-container">

        </div>
    </body>
</html>
