
main {
    display: flex;
    margin: 30px;
    justify-content: center;
    /* align-items: center; */
    height: fit-content;
}

h1 {
    margin: 20px auto;
}

#no-challenges-placeholder {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    padding: 20px 0;
    background-color: white;
}

#post-challenge {
    position: absolute;
    right: 100px;
    top: 150px;
    padding: 10px;
    border-radius: 10px;
}

#challenges-container {
    position: relative;
}

@media screen and (max-width: 1100px) {
    .column-container {
        display: grid;
        flex: 1 1 auto;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        width: 90%;
        height: fit-content;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .column-container * {
        margin: auto;
    }

    .challenge {
        flex-wrap: wrap;
    }

    .row {
        display: flex;
        overflow: auto;
    }

    .time-and-username {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1101px) {
    .column-container {
        display: flex;
    }
    .row {
        display: flex;
        /* width: 400px; */
    }

    .time-and-username {
        display: flex;
        justify-items: center;
    }

    .row > p, .row > a, .row > button{
        /* width: 50%; */
    }
}

.challenge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 90%;
    min-height: 45px;
    height: fit-content;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 1.25em;
    padding: 15px;
    border: transparent solid 2px;
    overflow-x: hidden; /* changed from auto */
}

.hide-overflow {
    display: flex; /* Changed*/
    flex: 1 1 auto; /* Changed; causes dynamic text overflow as window changes */
    min-width: 300px; /* Note: Changed */
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.challenge:hover {
    border: lightgray solid 2px;
}

.challenge-title, .challenge-award-points {
    font-weight: 700;
}

.row > p, .row > a, .row > button{
        text-align: center;
        margin: 10px 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

h2 {
    padding: 15px 45px;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
    margin: 20px auto;
    height: fit-content;
}

#time-left-container-outer, #challenges-container-outer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 50px;
    align-items: center;
}

#time-left-container-outer {
    display: flex;
    flex: 1 1 auto;
    max-width: 300px;
    min-width: 100px;
    height: 100%;
}

#challenges-container-outer {
    width: 700px;
    height: 800px;
}

#time-left-container, #challenges-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 50px;
    padding: 20px;
    background-color: #8bdc82;
    width: 100%;
    border: black solid 2px;
    border-radius: 10px;
}

.participate-button {
    padding: 5px;
    text-align: center;
    width: 120px;
    height: 30px;
}

.details {
    display: flex;
    width: 40%;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    background-color: azure;
    border-radius: 10px;
}

.challenge-text-area {
    margin: 0 15px;
    min-width: 150px;
    height: 210px;
    overflow: hidden;
    /* Provides multi-line truncatin. Only supported by modern browsers */
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

#pages-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 20px auto;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#pages-container > a {
    text-decoration: none;
    color: gray;
    font-size: 1.1em;
    font-weight: 700;
}

a {
    text-decoration: none;
}

#pages-container a:hover {
    color: black;
}

.challenge img {
    display: flex;
    border-radius: 5px;
    object-fit: contain; 
}

