* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 65px;
    margin-bottom: 44px;
    /* https://stackoverflow.com/a/24229723 */
    -webkit-text-fill-color: limegreen;
    -webkit-text-stroke: 1px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

p {
    max-width: 240px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 2px;
    border-radius: 5px;
    border-width: 1px;
}

.container {
    display: flex;
    margin-top: 25px;
}

#submit-button, a {
    margin-left: auto;
    margin-right: auto;
}

#submit-button {
    margin-top: 22px;
    padding: 6px 16px;

    background-color: limegreen;
}

p {
    color: red;
    margin: 0;
}

input:not(#submit-button) {
    height: 26px;
    width: 240px;
}
