
/* Helpful source: https://www.linkedin.com/learning/css-essential-training-22688362/getting-started-with-css */

/* Horizontally centers all direct children of main; removes necessity of justify-self: center */
main > * {
    margin: 20px auto;
}

#recipe-tutorial {
    width: 600px;
    height: 337.5px;
    background-color: lightgray;
    border-radius: 10px;
}

/* Source: https://www.w3schools.com/css/css_grid.asp */
#recipe-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    justify-items: center;
    text-align: center;
    margin: 20px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

#recipe-details p {
    margin: 10px 0 0 0;
}

#navigate-walkthrough {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: fit-content;
    padding: 15px;
    border-radius: 30px;
    background-color: #79B473;
    margin-top: 20px;
}

#navigate-walkthrough button {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#completion-progress {
    margin-top: 20px;
    width: 50%;
    height: 20px;
}

#completion-fraction {
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: white;
    height: fit-content;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
}

section {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

img, video {
    border-radius: 10px;
}

#recipe-thumbnail {
    display: flex;
    width: 600px;
    height: 400px;
    aspect-ratio: 1 / 1;
    background-color: lightgray;
}

.display-button-name {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: 92px;

}

.divider {
    margin: 20px 0;
    width: 80%;
}

.two-column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
/* Creates "post-it" notes with layered shadows to give effect of stack of notes */
.ingredient-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    background-color: #FFFF99;
    margin: 20px;
    padding: 30px;
    overflow: auto;
    box-shadow: 5px 5px 0 2px #fcfcab,
    10px 10px 0 2px #fcfcab
    ;
}

.ingredient-card h3 {
    align-self: center;
    margin-bottom: 0;
}

.ingredient-card h4 {
    margin-bottom: 0;
}

.ingredient-card ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredient-card h4, ol {
    margin-left: 20px;
}

/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
/* Creates card with layered shadows to give effect of stack of cards */
.card {
    display: flex;
    width: 500px;
    height: 300px;
    padding: 30px;
    aspect-ratio: 1 / 1;
    background-color: whitesmoke;
    margin: 20px;
    border: lightgray solid 1px;
    overflow: auto;
    box-shadow: 5px 5px 0 2px rgb(220, 220, 220), 10px 10px 0 2px rgb(220, 220, 220);
}

/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
.completed {
    transform: rotate(-45deg);
}

/* Creates number with white, circular background and black border */
#step-counter {
    font-size: 2rem;
    vertical-align: top;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding: 5px;
    border: black solid 3px;
}

/* Moves instructions towards center of card */
#instructions {
    margin: 20px 0 20px 50px;
    height: 70%;
    overflow: auto;
}

#estimated-time {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

/* Monthly Report #2 */

#timer-section {
    display: flex;
    position: sticky;
    top: 10px;
    align-items: center;
    background-color: #79B473;
    padding: 0 40px;
    border-radius: 30px;
    height: 50px;
    width: 80%;
    gap: 10px;
}

#timer-section button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* padding: 5px 30px; */
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 30px;
}


#countdown {
    background-color: white;
    border-radius: 5px;
    padding: 5px 20px;
    text-align: center;
}

#timer {
    width: 80%;
}

#dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 50%;
}

.dropdown-content a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

/* Daniel's Section */

.ingredient-checkbox {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 8px;
}

/* https://stackoverflow.com/a/56928969 credit to user named Sumit Patel*/
.ingredient-checkbox:checked + span {
  text-decoration: line-through;
  color: gray;
}

.ingredient-card label {
  display: flex;
  align-items: center;
  gap: 1px;
}

.fa-star {
    color: lightgray;
}
/* .fa-star.checked {
  color: orange;
} */

.fa-thumbs-o-up.liked {
  color: lightgreen;
}

/* Ty #2 */

/* Leaving a review */
.rating-container-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: fit-content;
}

.review time {
    font-size: 13px;
}

.rating-container-3 svg {
    width: 20px;
    stroke-width: 1px;
}

.rating-container-2 svg {
    width: 25px;
    stroke-width: 1px;
    cursor: pointer
}

input[type="radio"] {
    display: none;
}

.rating-container-2 {
    display: flex;
    align-items: center;
}

#reviews-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #8bdc82;
    margin: 20px auto;
    gap: 20px;
    overflow: hidden;
}

#reviews-section > * {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#reviews-section h2 {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0;
}

#num-reviews {
    margin-right: 0.25em;
}

.review {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
}

.review-details {
    margin: 10px 0 0 20px; /* Margin to top and left */
}

.review-details * {
    margin: 0;
}

.review-details p {
    margin: 10px 0;
    word-wrap: break-word;  /* ensures that long words don't overflow */
    overflow-wrap: break-word;
    white-space: normal;    /* wraps text */
}

#feedback-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.like-button, .dislike-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding-right: 0;
}

.like-button svg:hover, .dislike-button svg:hover {
    stroke: gray;
    fill: none;
}

#post-button {
    /* display: flex; */
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding: 7.5px 10px;
}

.feedback-number {
    font-size: 15px;
}

.profile-pic, #current-user-profile-pic {
    border-radius: 50%;
    border: black solid 2px;
}

.profile-pic {
    width: 40px;
    height: 40px;
}

#current-user-profile-pic {
    width: 50px;
    height: 50px;
}

#review-to-post {
    height: 35px;
    padding: 0 20px;
    margin: 0;
}

#post-review-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#no-reviews-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 20px 0;
}

/* Daniel #3 */
#google_translate_element {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* Ty #3 */

.review-buttons {
    margin: 20px;

    /* Positions buttons in top-right corner of review */
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.review-buttons * {
    background-color: transparent;
    border: none;
}

.delete-button:hover {
    color: red;
}

/* Adds spacing to bottom of page */
body {
    padding-bottom: 30px;
}

.edit-review {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

.edit-review input {
    padding: 0 20px;
    height: 35px;
}

.edit-review > * {
    display: flex;
}

#recipe-tag {
    padding: 10px 20px;
    background-color: goldenrod;
    border-radius: 10px;
    width: fit-content;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}