/* Ty #2 */

/* Leaving a review */
.rating-container-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: fit-content;
}

.review time {
    font-size: 13px;
}

.rating-container-3 svg {
    width: 20px;
    stroke-width: 1px;
}

.rating-container-2 svg {
    width: 25px;
    stroke-width: 1px;
    cursor: pointer
}

input[type="radio"] {
    display: none;
}

.rating-container-2 {
    display: flex;
    align-items: center;
}

#avg-rating {
    margin-left: 20px;
    font-size: 20px;
}

/* Refers to white background inside review container */
#inner-container {
    display: flex;
    width: 100%;
    height: 100px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

#reviews-section, #challenge-details-section {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #8bdc82;
    margin: 20px auto;
    gap: 20px;
    overflow: hidden;
}

#reviews-section > *, #challenge-details-section > * {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 97.5%;
}

#challenge-details-section h2, #judging-criteria-section h3, #submission-section h3 {
    margin: auto;
    width: fit-content;
}

#reviews-section h2 {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0;
    width: fit-content;
}

#num-reviews {
    margin-right: 0.25em;
}

.review {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
}

.review-details {
    margin: 10px 0 0 20px; /* Margin to top and left */
}

.review-details * {
    margin: 0;
}

.review-details p {
    margin: 10px 0;
    word-wrap: break-word;  /* ensures that long words don't overflow */
    overflow-wrap: break-word;
    white-space: normal;    /* wraps text */
}

#feedback-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.like-button, .dislike-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    padding-right: 0;
}

.like-button svg:hover, .dislike-button svg:hover {
    stroke: gray;
    fill: none;
}

#post-button {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    padding: 7.5px 10px;
}

.feedback-number {
    font-size: 15px;
}

.profile-pic, #current-user-profile-pic {
    border-radius: 50%;
    border: black solid 2px;
}

.profile-pic {
    width: 40px;
    height: 40px;
}

#current-user-profile-pic {
    width: 50px;
    height: 50px;
}

#review-to-post {
    height: 35px;
    padding: 0 20px;
    margin: 0;
}

#post-review-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#no-reviews-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 20px 0;
}

/* Ty #3 */

.review-buttons {
    margin: 20px;

    /* Positions buttons in top-right corner of review */
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.review-buttons * {
    background-color: transparent;
    border: none;
}

.delete-button:hover {
    color: red;
}

.edit-review {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

.edit-review input {
    padding: 0 20px;
    height: 35px;
}

.edit-review > * {
    display: flex;
}
