
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-bar input {
    width: 450px;
    height: 50px;
    margin: 0;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    font-size: 15px;
    border: gray solid 3px;
    border-right: none;
}

#search-bar {
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

#search-bar button {
    width: 60px;
    height: 50px;
    margin: 0;
    border-radius: 0 20px 20px 0;
    vertical-align: bottom;
    border: gray solid 3px;
}

select {
    width: 190px;
    height: fit-content;
    margin: 15px;
    border-radius: 20px;
    padding: 20px;
    border: #79B473 solid 2px;
}

#select-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

option {
    text-align: center;
    border: #79B473 solid 2px;
}

.search-item {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 300px;
    background-color: whitesmoke;
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    border: transparent solid 2px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.search-item:hover {
    border: lightgray solid 2px;
}

.search-item h2 {
    align-self: center;
    margin-bottom: 0;
}

.search-item p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-item h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-item img {
    display: flex;
    background-color: lightgray;
    height: 90%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

@media (max-width: 530px) {
    .search-item {
        flex-direction: column;
        height: fit-content;
    }

    .search-item .recipe-details {
        margin: 0;
    }

    .search-item p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 90px;
    }

    .search-item img {
        /* height: 90%; */
        width: 270px;
    }
}

@media (min-width: 531px) and (max-width: 1039px) {
    #searched-items-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1040px) {
    #searched-items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.badge-container {
    height: 75px;
    width: 300px;
    border-radius: 30px;
    background-color: darkolivegreen;
}

.recipe-details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    margin-left: 50px;
}